# Файли конфігурації IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Проміжні та кеш-файли Unreal Engine
Intermediate/
Saved/
DerivedDataCache/

# Тимчасові файли операційної системи
Thumbs.db
desktop.ini

# Системні файли macOS
.DS_Store

# Логи та дампи
*.log
*.dmp

# Бінарні файли
Binaries/
Build/
*.pdb
*.exe
*.dll
*.lib
*.obj
*.app
